In [86]:
import numpy as np
import pandas as pd

In [87]:
index =[('California',2000), ('California', 2010),
       ('New York', 2000), ('New York', 2010),
       ('Texas', 2000), ('Texas', 2010)]
population =[33871648, 37253956,
            18976457, 19378102,
            20851820, 25145561]

In [88]:
pop = pd.Series(population, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [89]:
# indexing
pop[('California',2010): ('Texas',2010)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [90]:
pop[0]

33871648

In [91]:
pop[1:5]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [92]:
pop.index

Index([('California', 2000), ('California', 2010),   ('New York', 2000),
         ('New York', 2010),      ('Texas', 2000),      ('Texas', 2010)],
      dtype='object')

In [93]:
pop[[i for i in pop.index if i[1]==2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [94]:
for i in pop.index:
    if i[1]==2010:
        print(i,pop[i])

('California', 2010) 37253956
('New York', 2010) 19378102
('Texas', 2010) 25145561

In [95]:
# print(index)
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

## If we remove the duplicate values, first do Multiindex.from_tuples than use reindex

In [96]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [97]:
pop[:,2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [98]:
pop['California',2010]

37253956

In [99]:
pop[:,2000]

California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [100]:
pop.ndim

1

In [101]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [102]:
pop_df.stack() # it come to original data

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [103]:
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [104]:
pop_df = pd.DataFrame({'Total': pop,
                      'Under18':[9267089, 9284094,
                                4687374, 4318033,
                                5906301, 6879014]})
pop_df

                    Total  Under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [105]:
f_u18= pop_df['Under18']/pop_df['Total']
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [106]:
df = pd.DataFrame(np.random.rand(4, 2),
                 index=[['a','a','b','b'],[1,2,1,2]],
                 columns=['data1','data2'])
df

        data1     data2
a 1  0.652175  0.501408
  2  0.467831  0.943390
b 1  0.182816  0.377914
  2  0.511589  0.192610

In [107]:
data = {('California', 2000):33871648,
       ('California',2010):37253956,
       ('Texas',2000):20851820,
       ('Texas',2010):25145561,
       ('New York',2000):21265160,
       ('New York',2010):2154679}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    21265160
            2010     2154679
dtype: int64

In [108]:
pd.MultiIndex.from_arrays([['a','a','b','b'],[1,2,1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [109]:
pd.MultiIndex.from_tuples([('a',1),('a',2),('b',1),('b',2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [110]:
pd.MultiIndex.from_product([['a','b'],[1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [111]:
pd.MultiIndex(levels=[['a','b'],[1,2]],
                     codes=[[0,0,1,1],[0,1,0,1]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

## Multiindex level names

In [112]:
pop.index.names = ['state','year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [113]:
# Hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014],[1,2,3]],
                                  names=['year','visit'])
columns = pd.MultiIndex.from_product([['Rani','Raju', 'Sam'],['BMI', 'Temp', 'Weight']],
                                    names=['subject','type'])

In [114]:
# mock some data
data = np.round(np.random.randn(6,9),2)
data

array([[ 1.75,  0.84,  0.2 ,  0.73, -1.75, -0.75,  0.8 , -0.55, -0.12],
       [ 0.07, -0.73, -1.37, -0.05, -0.87, -0.38, -1.41, -0.8 ,  0.94],
       [ 0.16,  0.96,  0.99,  1.12,  0.67, -0.67, -0.29, -0.91,  0.42],
       [ 1.68,  2.14,  0.61, -1.68, -1.71,  0.16, -0.33, -0.7 ,  1.8 ],
       [ 1.  ,  0.81,  0.32,  0.37,  0.47,  0.32, -0.98,  0.06, -0.4 ],
       [ 2.41,  0.7 , -2.37,  0.38, -1.8 ,  1.02,  0.37, -0.55,  1.55]])

In [115]:
data[:, ::2]*=10
data

array([[ 17.5 ,   0.84,   2.  ,   0.73, -17.5 ,  -0.75,   8.  ,  -0.55,
         -1.2 ],
       [  0.7 ,  -0.73, -13.7 ,  -0.05,  -8.7 ,  -0.38, -14.1 ,  -0.8 ,
          9.4 ],
       [  1.6 ,   0.96,   9.9 ,   1.12,   6.7 ,  -0.67,  -2.9 ,  -0.91,
          4.2 ],
       [ 16.8 ,   2.14,   6.1 ,  -1.68, -17.1 ,   0.16,  -3.3 ,  -0.7 ,
         18.  ],
       [ 10.  ,   0.81,   3.2 ,   0.37,   4.7 ,   0.32,  -9.8 ,   0.06,
         -4.  ],
       [ 24.1 ,   0.7 , -23.7 ,   0.38, -18.  ,   1.02,   3.7 ,  -0.55,
         15.5 ]])

In [116]:
data +=37
data

array([[54.5 , 37.84, 39.  , 37.73, 19.5 , 36.25, 45.  , 36.45, 35.8 ],
       [37.7 , 36.27, 23.3 , 36.95, 28.3 , 36.62, 22.9 , 36.2 , 46.4 ],
       [38.6 , 37.96, 46.9 , 38.12, 43.7 , 36.33, 34.1 , 36.09, 41.2 ],
       [53.8 , 39.14, 43.1 , 35.32, 19.9 , 37.16, 33.7 , 36.3 , 55.  ],
       [47.  , 37.81, 40.2 , 37.37, 41.7 , 37.32, 27.2 , 37.06, 33.  ],
       [61.1 , 37.7 , 13.3 , 37.38, 19.  , 38.02, 40.7 , 36.45, 52.5 ]])

In [117]:
# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

subject     Rani                 Raju                Sam
type         BMI   Temp Weight    BMI  Temp Weight   BMI   Temp Weight
year visit
2013 1      54.5  37.84   39.0  37.73  19.5  36.25  45.0  36.45   35.8
     2      37.7  36.27   23.3  36.95  28.3  36.62  22.9  36.20   46.4
     3      38.6  37.96   46.9  38.12  43.7  36.33  34.1  36.09   41.2
2014 1      53.8  39.14   43.1  35.32  19.9  37.16  33.7  36.30   55.0
     2      47.0  37.81   40.2  37.37  41.7  37.32  27.2  37.06   33.0
     3      61.1  37.70   13.3  37.38  19.0  38.02  40.7  36.45   52.5

In [118]:
health_data['Rani']

type         BMI   Temp  Weight
year visit
2013 1      54.5  37.84    39.0
     2      37.7  36.27    23.3
     3      38.6  37.96    46.9
2014 1      53.8  39.14    43.1
     2      47.0  37.81    40.2
     3      61.1  37.70    13.3

In [119]:
health_data.iloc[3]

subject  type
Rani     BMI       53.80
         Temp      39.14
         Weight    43.10
Raju     BMI       35.32
         Temp      19.90
         Weight    37.16
Sam      BMI       33.70
         Temp      36.30
         Weight    55.00
Name: (2014, 1), dtype: float64

In [120]:
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [121]:
pop['California', 2000]

33871648

In [80]:
pop['California']

year
2000    33871648
2010    37253956
dtype: int64

In [81]:
pop.loc['California': 'New York']

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [82]:
pop[:, 2000]

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [83]:
pop[pop > 2200000]

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [84]:
pop['California': 'Texas']

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

# Multiply Indexed Dataframe

In [85]:
health_data['Rani']

type         BMI   Temp  Weight
year visit
2013 1      35.1  39.14    28.6
     2      24.2  36.49    39.8
     3      20.5  36.13    33.1
2014 1      38.7  38.31    48.4
     2      30.2  37.55    44.9
     3      48.7  36.44    35.3

In [122]:
health_data.iloc[:1]

subject     Rani                 Raju                Sam
type         BMI   Temp Weight    BMI  Temp Weight   BMI   Temp Weight
year visit
2013 1      54.5  37.84   39.0  37.73  19.5  36.25  45.0  36.45   35.8

In [123]:
health_data.iloc[3:-1]

subject     Rani                 Raju                Sam
type         BMI   Temp Weight    BMI  Temp Weight   BMI   Temp Weight
year visit
2014 1      53.8  39.14   43.1  35.32  19.9  37.16  33.7  36.30   55.0
     2      47.0  37.81   40.2  37.37  41.7  37.32  27.2  37.06   33.0

In [124]:
health_data.iloc[:3,:-3]

subject     Rani                 Raju
type         BMI   Temp Weight    BMI  Temp Weight
year visit
2013 1      54.5  37.84   39.0  37.73  19.5  36.25
     2      37.7  36.27   23.3  36.95  28.3  36.62
     3      38.6  37.96   46.9  38.12  43.7  36.33

In [125]:
health_data.iloc[-3:,:]  # index 1st is row,column

subject     Rani                 Raju                Sam
type         BMI   Temp Weight    BMI  Temp Weight   BMI   Temp Weight
year visit
2014 1      53.8  39.14   43.1  35.32  19.9  37.16  33.7  36.30   55.0
     2      47.0  37.81   40.2  37.37  41.7  37.32  27.2  37.06   33.0
     3      61.1  37.70   13.3  37.38  19.0  38.02  40.7  36.45   52.5

In [126]:
health_data.loc[:, ('Rani', 'Temp')]

year  visit
2013  1        37.84
      2        36.27
      3        37.96
2014  1        39.14
      2        37.81
      3        37.70
Name: (Rani, Temp), dtype: float64

In [127]:
health_data.loc[:,('Rani')]

type         BMI   Temp  Weight
year visit
2013 1      54.5  37.84    39.0
     2      37.7  36.27    23.3
     3      38.6  37.96    46.9
2014 1      53.8  39.14    43.1
     2      47.0  37.81    40.2
     3      61.1  37.70    13.3

In [128]:
health_data.loc[(:,1),(:,'HR')]

SyntaxError: invalid syntax (<ipython-input-128-2d8e6b30864e>, line 1)

In [129]:
idx =pd.IndexSlice
health_data.loc[idx[:,1], idx[:, 'Temp']]

subject      Rani  Raju    Sam
type         Temp  Temp   Temp
year visit
2013 1      37.84  19.5  36.45
2014 1      39.14  19.9  36.30

In [130]:
health_data.loc[idx[2:,2], idx[:, 'BMI']]

subject     Rani   Raju   Sam
type         BMI    BMI   BMI
year visit
2013 2      37.7  36.95  22.9
2014 2      47.0  37.37  27.2

In [131]:
health_data.loc[idx[:,2], idx[:, 'BMI']]

subject     Rani   Raju   Sam
type         BMI    BMI   BMI
year visit
2013 2      37.7  36.95  22.9
2014 2      47.0  37.37  27.2

In [132]:
# Sorted and Unsorted index

In [133]:
index = pd.MultiIndex.from_product([['a', 'c', 'b', 'd'], [1,2]])
data = pd.Series(np.random.rand(8), index=index)
data.index.nema = ['char', 'int']
data

a  1    0.207124
   2    0.241336
c  1    0.058746
   2    0.969938
b  1    0.591480
   2    0.593648
d  1    0.508173
   2    0.558513
dtype: float64

In [134]:
data['a': 'c'] # this is bcoz the data is not sorted

UnsortedIndexError: 'Key length (1) was greater than MultiIndex lexsort depth (0)'

In [135]:
data['a']

1    0.207124
2    0.241336
dtype: float64

In [136]:
data = data.sort_index() # if the data is unsorted, u can sort by this cmd
data

a  1    0.207124
   2    0.241336
b  1    0.591480
   2    0.593648
c  1    0.058746
   2    0.969938
d  1    0.508173
   2    0.558513
dtype: float64

In [137]:
pop.unstack()

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [138]:
pop.unstack(level=0)

state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [139]:
pop.unstack(level=1) # by default it will show original data

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [140]:
## Resetting and setting the index

In [141]:
pop_flat = pop.reset_index(name='population') ## resetting of index
pop_flat

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [142]:
pop_flat.set_index(['state', 'year'])  ## setting of the index

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

In [143]:
health_data

subject     Rani                 Raju                Sam
type         BMI   Temp Weight    BMI  Temp Weight   BMI   Temp Weight
year visit
2013 1      54.5  37.84   39.0  37.73  19.5  36.25  45.0  36.45   35.8
     2      37.7  36.27   23.3  36.95  28.3  36.62  22.9  36.20   46.4
     3      38.6  37.96   46.9  38.12  43.7  36.33  34.1  36.09   41.2
2014 1      53.8  39.14   43.1  35.32  19.9  37.16  33.7  36.30   55.0
     2      47.0  37.81   40.2  37.37  41.7  37.32  27.2  37.06   33.0
     3      61.1  37.70   13.3  37.38  19.0  38.02  40.7  36.45   52.5

In [ ]:
## get the mean value

In [144]:
data_mean = health_data.mean(level='visit')
data_mean

subject   Rani                  Raju                   Sam
type       BMI   Temp Weight     BMI   Temp  Weight    BMI    Temp Weight
visit
1        54.15  38.49  41.05  36.525  19.70  36.705  39.35  36.375  45.40
2        42.35  37.04  31.75  37.160  35.00  36.970  25.05  36.630  39.70
3        49.85  37.83  30.10  37.750  31.35  37.175  37.40  36.270  46.85

In [145]:
data_mean = health_data.mean(level='year')
data_mean

subject       Rani                     Raju                          Sam  \
type           BMI       Temp Weight    BMI       Temp Weight        BMI
year
2013     43.600000  37.356667   36.4  37.60  30.500000   36.4  34.000000
2014     53.966667  38.216667   32.2  36.69  26.866667   37.5  33.866667

subject
type          Temp     Weight
year
2013     36.246667  41.133333
2014     36.603333  46.833333

In [147]:
data_mean.mean(axis=1,level='type')

type        BMI       Temp     Weight
year
2013  38.400000  34.701111  37.977778
2014  41.507778  33.895556  38.844444