In [2]:
import numpy as np
import pandas as pd
x = np.array([2,3,5,7,11,13])
x*2

array([ 4,  6, 10, 14, 22, 26])

In [2]:
y = "hello"
y

'hello'

In [3]:
y*2

'hellohello'

In [4]:
type(y)

str

In [5]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
data

['peter', 'Paul', 'MARY', 'gUIDO']

In [6]:
for s in data:
    print(s.capitalize())

Peter
Paul
Mary
Guido

In [7]:
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [8]:
[s.startswith('P') for s in data]

[False, True, False, False]

In [10]:
[s.lower() for s in data]

['peter', 'paul', 'mary', 'guido']

In [11]:
[s.upper() for s in data]

['PETER', 'PAUL', 'MARY', 'GUIDO']

In [12]:
data = ['peter', 'Paul',None, 'MARY', 'gUIDO', np.nan]
data

['peter', 'Paul', None, 'MARY', 'gUIDO', nan]

In [7]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO', np.nan]
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [14]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
5      NaN
dtype: object

In [15]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
5      NaN
dtype: object

In [16]:
names.str.upper()

0    PETER
1     PAUL
2     None
3     MARY
4    GUIDO
5      NaN
dtype: object

# Tables of pandas string methods

In [8]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                  'Eric Idle', 'Terry Jones', 'Micheal Palin'])
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Micheal Palin
dtype: object

# Methods similar to python string methods

In [19]:
monte.count()

6

In [20]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [21]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     micheal palin
dtype: object

In [22]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [23]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [24]:
monte.str.split(',')

0    [Graham Chapman]
1       [John Cleese]
2     [Terry Gilliam]
3         [Eric Idle]
4       [Terry Jones]
5     [Micheal Palin]
dtype: object

In [25]:
# Filtering method

In [1]:
t = int(input())
while t>0:
    a = input()
    flag = 0
    for i in range(0,len(a)):
        if a[i]>='a' and a[i]<='z':
            print(a[i],end=' ')
            flag = 1
        elif a[i]>='A' and a[i]<='Z':
            print(a[i],end =' ')
            flag = 1
        if flag==1:
            print()
        else:
            
            #print(-1)
            pass
        t -=1 #t = t-1

 1
 P@#$%^&y456t#$%h^&*(o$%^n

P






y



t



h




o



n

# Methods using Regular expressions

In [9]:
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Micheal Palin
dtype: object

In [12]:
monte.str.extract('([A-Z a-z]+)', expand=False) # if we give space it will print the second name also

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Micheal Palin
dtype: object

In [14]:
monte.str.extract('([A-Za-z]+)', expand=True)

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Micheal

In [15]:
monte.str.findall('^[^AEIOU].*[^aeiou]$')

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Micheal Palin]
dtype: object

In [16]:
monte.str.findall('[^aeiou]$')

0    [n]
1     []
2    [m]
3     []
4    [s]
5    [n]
dtype: object

In [17]:
monte.str.findall('[^aeiou]')

0    [G, r, h, m,  , C, h, p, m, n]
1             [J, h, n,  , C, l, s]
2       [T, r, r, y,  , G, l, l, m]
3             [E, r, c,  , I, d, l]
4          [T, r, r, y,  , J, n, s]
5          [M, c, h, l,  , P, l, n]
dtype: object

In [18]:
monte.str.findall('[aeiou]$')

0     []
1    [e]
2     []
3    [e]
4     []
5     []
dtype: object

# Vectorized item access and slicing

In [19]:
a = "Hello World"
a[::-1]

'dlroW olleH'

In [20]:
monte[0]

'Graham Chapman'

In [21]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [22]:
monte[0:3]

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
dtype: object

In [23]:
monte[::-1]

5     Micheal Palin
4       Terry Jones
3         Eric Idle
2     Terry Gilliam
1       John Cleese
0    Graham Chapman
dtype: object

In [24]:
monte.str[::-1]

0    nampahC maharG
1       eseelC nhoJ
2     mailliG yrreT
3         eldI cirE
4       senoJ yrreT
5     nilaP laehciM
dtype: object

In [25]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [26]:
monte.str.split().str.get(0)

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Micheal
dtype: object

In [30]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Micheal, Palin]
dtype: object

In [31]:
full_monte = pd.DataFrame({'name': monte,
                          'info': ['B|C|D', 'B|D', 'A|C',
                                  'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Micheal Palin  B|C|D

In [32]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [33]:
full_monte['info'].str.get_dummies('.')

   A|C  B|C  B|C|D  B|D
0    0    0      1    0
1    0    0      0    1
2    1    0      0    0
3    0    0      0    1
4    0    1      0    0
5    0    0      1    0

# Try and Exception

In [7]:
try:
    recipes = pd.read_json('data/recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

ValueError: Trailing data

In [8]:
with open('data/recipeitems-latest.json') as f:
    line = f.readline()
    #print(line)
pd.read_json(line)

,_id,name,ingredients,url,image,ts,cookTime,source,recipeYield,datePublished,prepTime,description
$oid,5160756b96cc62079cc2db15,Drop Biscuits and Sausage Gravy,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,http://thepioneerwoman.com/cooking/2013/03/dro...,http://static.thepioneerwoman.com/cooking/file...,NaN,PT30M,thepioneerwoman,12,2013-03-11,PT10M,"Late Saturday afternoon, after Marlboro Man ha..."
$date,NaN,Drop Biscuits and Sausage Gravy,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,http://thepioneerwoman.com/cooking/2013/03/dro...,http://static.thepioneerwoman.com/cooking/file...,1.365276e+12,PT30M,thepioneerwoman,12,2013-03-11,PT10M,"Late Saturday afternoon, after Marlboro Man ha..."

In [9]:
recipes=pd.read_json('Data/recipeitems.json', encoding="utf8", lines =True)
recipes.head()

,_id,name,ingredients,url,image,ts,cookTime,source,recipeYield,datePublished,prepTime,description,totalTime,creator,recipeCategory,dateModified,recipeInstructions
0,{'$oid': '5160756b96cc62079cc2db15'},Drop Biscuits and Sausage Gravy,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,http://thepioneerwoman.com/cooking/2013/03/dro...,http://static.thepioneerwoman.com/cooking/file...,{'$date': 1365276011104},PT30M,thepioneerwoman,12,2013-03-11,PT10M,"Late Saturday afternoon, after Marlboro Man ha...",NaN,NaN,NaN,NaN,NaN
1,{'$oid': '5160756d96cc62079cc2db16'},Hot Roast Beef Sandwiches,12 whole Dinner Rolls Or Small Sandwich Buns (...,http://thepioneerwoman.com/cooking/2013/03/hot...,http://static.thepioneerwoman.com/cooking/file...,{'$date': 1365276013902},PT20M,thepioneerwoman,12,2013-03-13,PT20M,"When I was growing up, I participated in my Ep...",NaN,NaN,NaN,NaN,NaN
2,{'$oid': '5160756f96cc6207a37ff777'},Morrocan Carrot and Chickpea Salad,Dressing:\n1 tablespoon cumin seeds\n1/3 cup /...,http://www.101cookbooks.com/archives/moroccan-...,http://www.101cookbooks.com/mt-static/images/f...,{'$date': 1365276015332},NaN,101cookbooks,NaN,2013-01-07,PT15M,A beauty of a carrot salad - tricked out with ...,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '5160757096cc62079cc2db17'},Mixed Berry Shortcake,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,http://thepioneerwoman.com/cooking/2013/03/mix...,http://static.thepioneerwoman.com/cooking/file...,{'$date': 1365276016700},PT15M,thepioneerwoman,8,2013-03-18,PT15M,It's Monday! It's a brand new week! The birds ...,NaN,NaN,NaN,NaN,NaN
4,{'$oid': '5160757496cc6207a37ff778'},Pomegranate Yogurt Bowl,For each bowl: \na big dollop of Greek yogurt\...,http://www.101cookbooks.com/archives/pomegrana...,http://www.101cookbooks.com/mt-static/images/f...,{'$date': 1365276020318},NaN,101cookbooks,Serves 1.,2013-01-20,PT5M,A simple breakfast bowl made with Greek yogurt...,NaN,NaN,NaN,NaN,NaN

In [6]:
recipes.tail()

,_id,name,ingredients,url,image,ts,cookTime,source,recipeYield,datePublished,prepTime,description,totalTime,creator,recipeCategory,dateModified,recipeInstructions
173273,{'$oid': '551c030e96cc6233c0d0dc3d'},The Easiest Homemade Vanilla Ice Cream,250 milliliters Cream\n395 grams Canned Sweete...,http://tastykitchen.com/recipes/desserts/the-e...,http://tastykitchen.com/recipes/wp-content/upl...,{'$date': 1427899150211},PT,tastykitchen,10,2015-04-01,PT10M,The easiest vanilla ice cream you will ever ma...,NaN,NaN,NaN,NaN,NaN
173274,{'$oid': '551c030f96cc6233c0d0dc3e'},Butterfinger Eggs with Vanilla,2 cups Candy Corn\n1 teaspoon Vanilla Extract\...,http://tastykitchen.com/recipes/holidays/butte...,http://tastykitchen.com/recipes/wp-content/upl...,{'$date': 1427899151232},PT5M,tastykitchen,24,2015-04-01,PT8H,Chocolate coated peanut butter eggs with a hin...,NaN,NaN,NaN,NaN,NaN
173275,{'$oid': '551c86b796cc626b1ab4d901'},The Best Homemade Taco Seasoning,1/4 cup ground cumin\n1/4 cup kosher salt\n2 t...,http://picky-palate.com/2015/04/01/the-best-ho...,http://picky-palate.com/wp-content/uploads/201...,{'$date': 1427932855918},NaN,pickypalate,Makes about 1 cup,2015-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173276,{'$oid': '551f29b696cc62227991d465'},The Ultimate Queso Bean Dip,Two 16 ounce cans Old El Paso Refried Beans\n4...,http://picky-palate.com/2015/04/03/the-ultimat...,http://picky-palate.com/wp-content/uploads/201...,{'$date': 1428105654508},NaN,pickypalate,8-10 Servings,2015-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173277,{'$oid': '551f29c696cc6222a4e0c0e4'},Maple-Sweetened Banana Muffins,⅓ cup melted coconut oil or extra-virgin olive...,http://cookieandkate.com/2015/healthy-banana-m...,http://cookieandkate.com/images/2015/04/mashed...,{'$date': 1428105670708},PT25M,cookieandkate,11 muffins,NaN,PT10M,"These whole wheat, maple-sweetened banana muff...",NaN,NaN,NaN,NaN,NaN

In [8]:
recipes.ndim

2

In [9]:
recipes.columns

Index(['_id', 'name', 'ingredients', 'url', 'image', 'ts', 'cookTime',
       'source', 'recipeYield', 'datePublished', 'prepTime', 'description',
       'totalTime', 'creator', 'recipeCategory', 'dateModified',
       'recipeInstructions'],
      dtype='object')

In [10]:
recipes.shape

(173278, 17)

In [7]:
recipes.iloc[0]

_id                                {'$oid': '5160756b96cc62079cc2db15'}
name                                    Drop Biscuits and Sausage Gravy
ingredients           Biscuits\n3 cups All-purpose Flour\n2 Tablespo...
url                   http://thepioneerwoman.com/cooking/2013/03/dro...
image                 http://static.thepioneerwoman.com/cooking/file...
ts                                             {'$date': 1365276011104}
cookTime                                                          PT30M
source                                                  thepioneerwoman
recipeYield                                                          12
datePublished                                                2013-03-11
prepTime                                                          PT10M
description           Late Saturday afternoon, after Marlboro Man ha...
totalTime                                                           NaN
creator                                                             NaN
recipeCategory                                                      NaN
dateModified                                                        NaN
recipeInstructions                                                  NaN
Name: 0, dtype: object

In [8]:
recipes.ingredients.str.len().describe()

count    173278.000000
mean        244.617926
std         146.705285
min           0.000000
25%         147.000000
50%         221.000000
75%         314.000000
max        9067.000000
Name: ingredients, dtype: float64

In [10]:
recipes.name[np.argmax(recipes.ingredients.str.len())]

c:\users\praveen1981\appdata\local\programs\python\python37\lib\site-packages\numpy\core\fromnumeric.py:61: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  return bound(*args, **kwds)

'Carrot Pineapple Spice &amp; Brownie Layer Cake with Whipped Cream &amp; Cream Cheese Frosting and Marzipan Carrots'

In [11]:
recipes.description.str.contains('[Bb]reakfast').sum()

3524

In [13]:
recipes.ingredients.str.contains('[Cc]innamon').sum()

10526

In [14]:
recipes.ingredients.str.contains('[Cc]inamon').sum()

11

# Simple recommendation system

In [5]:
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley',
             'rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

In [10]:
import re
spice_df = pd.DataFrame(dict((spice, recipes.ingredients.str.contains(spice, re.IGNORECASE))
                            for spice in spice_list))
spice_df.head()

,salt,pepper,oregano,sage,parsley,rosemary,tarragon,thyme,paprika,cumin
0,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,True,True,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [11]:
selection = spice_df.query('parsley & paprika & tarragon')

In [12]:
selection

,salt,pepper,oregano,sage,parsley,rosemary,tarragon,thyme,paprika,cumin
2069,False,True,False,False,True,False,True,False,True,False
74964,False,False,False,False,True,False,True,False,True,False
93768,True,True,False,True,True,False,True,False,True,False
113926,True,True,False,False,True,False,True,False,True,False
137686,True,True,False,False,True,False,True,False,True,False
140530,True,True,False,False,True,False,True,True,True,False
158475,True,True,False,False,True,False,True,False,True,True
158486,True,True,False,False,True,False,True,False,True,False
163175,True,True,True,False,True,False,True,False,True,False
165243,True,True,False,False,True,False,True,False,True,False

In [21]:
len(selection)

10

In [22]:
recipes.name[selection.index]

2069      All cremat with a Little Gem, dandelion and wa...
74964                         Lobster with Thermidor butter
93768      Burton's Southern Fried Chicken with White Gravy
113926                     Mijo's Slow Cooker Shredded Beef
137686                     Asparagus Soup with Poached Eggs
140530                                 Fried Oyster Po’boys
158475                Lamb shank tagine with herb tabbouleh
158486                 Southern fried chicken in buttermilk
163175            Fried Chicken Sliders with Pickles + Slaw
165243                        Bar Tartine Cauliflower Salad
Name: name, dtype: object